<template>
  <div>
    <h2>Day</h2>
    <div>
      <span v-for="day in weekDays">
        (
        <router-link :to="{name: 'Day', params: {day: day.dateString}}">
          {{ day.dateString }}
        </router-link>
        {{ dayNames[day.dayIndex] }}
        )
      </span>
    </div>
    <div>
      <span><router-link :to="{name: 'NewTask', params: {day: $route.params.day}}">New task</router-link></span>
      <span><router-link :to="{name: 'NewQuote'}">New quote</router-link></span>
      <span><router-link :to="{name: 'Graph'}">Graph</router-link></span>
    </div>
    <div>
      <table>
        <tr>
          <th>time</th>
          <th>type</th>
          <th>name</th>
        </tr>
        <tr v-for="task in tasks">
          <td>{{ formatTimeColumn(task.start) }} - {{ formatTimeColumn(task.finish) }}</td>
          <td>{{ task.type }}</td>
          <td>
            <router-link :to="{name: 'EditTask', params: {taskId: task.id}}">
              {{ task.name }}
            </router-link>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "day",
  data() {
    return {
      tasks: [],
      weekDays: [],
      dayNames: [
        "vasárnap",
        "hétfő",
        "kedd",
        "szerda",
        "csütörtök",
        "péntek",
        "szombat"
      ]
    }
  },
  created() {
    this.showDay(this.$route.params.day);
  },
  beforeRouteUpdate(to, from, next) {
    this.showDay(to.params.day);
    next();
  },
  methods: {
    /**
     * Collect the dates in the given week.
     * @param dateString: the middle of the week
     * @return: list of pairs of date strings and week day indices
     */
    collectWeekDates(dateString) {
      let weekDates = [];
      let date = this.$fromDateString(dateString);
      for (let i = -3; i <= 3; ++i) {
        let d = new Date(date.getFullYear(), date.getMonth(), date.getDate() + i);
        let item = {
          "dateString": this.$toDateString(d),
          "dayIndex": d.getDay()
        };
        weekDates.push(item);
      }
      return weekDates;
    },
    formatTimeColumn(date) {
      return date.slice(11, 16);
    },
    showDay(dateString) {
      let pattern = new RegExp("2[0-9][0-9][0-9][0-9][0-9]");
      if (pattern.test(dateString) == false) {
        return;
      }
      this.weekDays = this.collectWeekDates(dateString);
      let request = {
        "method": "GET",
        "url": process.env.VUE_APP_BASE_URL + "/api/day/" + dateString,
        "headers": {
          "content-type": "application/json"
        }
      };
      axios(request).then(
        result => {
          this.tasks = result.data;
        },
        error => {
          console.error(error);
        }
      );
    }
  }
}
</script>

<style>
</style>

