<template>
  <div>
    <!--
    <h2>Graph</h2>
    <div>
        <input type="text" v-model="task.name" placeholder="name"/>
        <select v-model="task.type">
          <option v-for="taskType in taskTypes" v-bind:value="taskType">
            {{ taskType }}
          </option>
        </select>
        <input type="text" v-model="task.description" placeholder="description"/>
        <button v-on:click="saveTask">Save</button>
    </div>
    <router-link :to="{name: 'Today'}">Today</router-link>
    -->
    <div>
      <canvas id="graph-canvas" width="1200px" height="600px">
      </canvas>
    </div>
  </div>
</template>

<script>
import axios from "axios";

let canvas = null;
let graphView = null;
let canvasPosition = null;

function calcMouseEvent(event)
{
    let x = event.clientX - canvasPosition.left;
    let y = event.clientY - canvasPosition.top;
    let button = event.button;
    return new MouseEvent(x, y, button);
}

function mouseDown(event)
{
    var mouseEvent = calcMouseEvent(event);
    graphView.onMouseDown(mouseEvent);
}

function mouseMove(event)
{
    var mouseEvent = calcMouseEvent(event);
    graphView.onMouseMove(mouseEvent);
}

function mouseUp(event)
{
    var mouseEvent = calcMouseEvent(event);
    graphView.onMouseUp(mouseEvent);
}

function mouseWheel(event)
{
    const mouseEvent = calcMouseEvent(event);
    const delta = event.wheelDelta;
    graphView.onMouseWheel(mouseEvent, delta);
    event.preventDefault();
}

function keyDown(event)
{
    console.log("Here!");
    if (event.key == "e") {
        if (graphView.selectedTaskId != null) {
            window.removeEventListener("keydown", keyDown);
            location.assign("#/edit-task/" + graphView.selectedTaskId);
        }
    }
    else if (event.key == "t") {
        window.removeEventListener("keydown", keyDown);
        location.assign("#/today");
    }
    else {
        graphView.onKeyDown(event);
    }
}

export default {
  name: "graph",
  data() {
    return {
      task: {
        "name": "",
        "type": "",
        "description": ""
      },
      taskTypes: [
        "administration",
        "artistic",
        "configuration",
        "consultation",
        "debit",
        "design",
        "development",
        "documentation",
        "freetime",
        "lecture",
        "mail",
        "plan",
        "private",
        "project",
        "quest",
        "requirement",
        "study",
        "teach",
        "travel"
      ]
    }
  },
  mounted() {
    canvas = document.getElementById("graph-canvas");
    canvasPosition = canvas.getBoundingClientRect();

    let context = canvas.getContext("2d");
    context.imageSmoothingEnabled = false;

    canvas.addEventListener("mousedown", mouseDown, false);
    canvas.addEventListener("mousemove", mouseMove, false);
    canvas.addEventListener("mouseup", mouseUp, false);
    canvas.addEventListener("mousewheel", mouseWheel, false);
    canvas.addEventListener("contextmenu", function (e) { e.preventDefault(); });
    window.addEventListener("keydown", keyDown, false);

    graphView = new GraphView(canvas, axios);
    graphView.draw();
  },
  methods: {
    saveTask(event) {
      console.log("Save the task ...");
    }
  }
}
</script>

<style>
</style>

