<template>
  <div>
    <h2>Login</h2>
    <div>
      <span>
        email: <input type="text" v-model="user.email" placeholder="email"/>
      </span>
      <span>
        password: <input type="password" v-model="user.password" placeholder="password"/>
      </span>
      <span>
        <button v-on:click="login">Login</button>
      </span>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "login",
  data() {
    return {
      user: {
        email: "",
        password: ""
      }
    }
  },
  methods: {
    login(event) {
      let request = {
        "method": "POST",
        "url": process.env.VUE_APP_BASE_URL + "/api/login",
        "data": this.user,
        "headers": {
          "content-type": "application/json"
        }
      };
      axios(request).then(
        result => {
          var token = result.data.token;
          axios.defaults.headers.common['Authorization'] = token;
          this.$router.push('today');
        },
        error => {
          console.error(error);
        }
      );
    }
  }
}
</script>

<style>
</style>

