<template>
  <div>
    <h2>New Quote</h2>
    <div>
      <textarea v-model="quote.content" placeholder="content">
      </textarea>
    </div>
    <div>
      <button v-on:click="saveQuote">Save</button>
      <button v-on:click="$router.go(-1)">Cancel</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "new-quote",
  data() {
    return {
      quote: {
        content: ""
      }
    }
  },
  methods: {
    saveQuote(event) {
      let request = {
        "method": "POST",
        "url": process.env.VUE_APP_BASE_URL + "/api/quotes",
        "data": this.quote,
        "headers": {
          "content-type": "application/json"
        }
      };
      axios(request).then(
        result => {
          this.$router.go(-1);
        },
        error => {
          console.error(error);
        }
      );
    }
  }
}
</script>

<style>
</style>

