<template>
  <div>
    <h2>New Task</h2>
    <div>
      <div>
        <span>
          start: <input type="text" ref="start" v-model="task.start" placeholder="start"/>
        </span>
        <span>
          finish: <input type="text" v-model="task.finish" placeholder="finish"/>
        </span>
      </div>
      <div>
        name: <input type="text" v-model="task.name" placeholder="name"/>
      </div>
      <div>
        type:
        <select v-model="task.type">
          <option v-for="taskType in taskTypes" v-bind:value="taskType">
            {{ taskType }}
          </option>
        </select>
      </div>
      <div>
        description:
        <textarea v-model="task.description" placeholder="description">
        </textarea>
      </div>
      <div>
        <span>
          day: <input type="text" v-model="task.day" placeholder=""/>
        </span>
      </div>
      <div>
        <button v-on:click="saveTask">Save</button>
        <button v-on:click="$router.go(-1)">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "new-task",
  data() {
    return {
      task: {
        name: "",
        description: "",
        type: "",
        day: "",
        start: "",
        finish: ""
      },
      taskTypes: [
        "administration",
        "artistic",
        "configuration",
        "consultation",
        "debit",
        "design",
        "development",
        "documentation",
        "freetime",
        "lecture",
        "mail",
        "plan",
        "private",
        "project",
        "quest",
        "requirement",
        "study",
        "teach",
        "travel"
      ]
    }
  },
  created() {
    this.task.day = this.$route.params.day;
  },
  mounted() {
    this.$refs.start.focus();
  },
  methods: {
    checkTaskData() {
      if (this.task.name == "") {
        return false;
      }
      if (this.task.type == "") {
        return false;
      }
      let dayPattern = new RegExp("2[0-9][0-9][0-9][0-9][0-9]");
      if (this.task.day != "") {
          if (dayPattern.test(this.task.day) == false) {
            return false;
          }
      }
      let timePattern = new RegExp("[0-9]{1,4}");
      if (this.task.start != "") {
          if (timePattern.test(this.task.start) == false) {
            return false;
          }
      }
      if (this.task.finish != "") {
          if (timePattern.test(this.task.finish) == false) {
            return false;
          }
      }
      return true;
    },
    /**
     * Collect the fields of the tasks from the form.
     */
    collectTaskData() {
      let year = "20" + this.task.day.slice(0, 2);
      let month = this.task.day.slice(2, 4);
      let day = this.task.day.slice(4, 6);
      let dayPart = year + "." + month + "." + day;

      let startDate = null;
      let finishDate = null;

      let startTime = "";
      if (this.task.start != "") {
        startTime = this.$decodeAbbreviatedTime(this.task.start);
        startDate = dayPart + " " + startTime;
      }
      let finishTime = "";
      if (this.task.finish != "") {
        finishTime = this.$decodeAbbreviatedTime(this.task.finish);
        finishDate = dayPart + " " + finishTime;
      }
      let taskData = {
        name: this.task.name,
        description: this.task.description,
        type: this.task.type,
        start: startDate,
        finish: finishDate
      };
      return taskData;
    },
    saveTask(event) {
      if (this.checkTaskData() == false) {
        console.log("Invalid task data!");
        return;
      }
      let request = {
        "method": "POST",
        "url": process.env.VUE_APP_BASE_URL + "/api/tasks",
        "data": this.collectTaskData(),
        "headers": {
          "content-type": "application/json"
        }
      };
      axios(request).then(
        result => {
          this.$router.go(-1);
        },
        error => {
          console.error(error);
        }
      );
    }
  }
}
</script>

<style>
</style>

