<template>
  <div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "today",
  created() {
    let currentDate = new Date();
    let dateString = this.$toDateString(currentDate);
    this.$router.push({name: "Day", params: {day: dateString}});
  }
}
</script>

<style>
</style>

